form {
    margin: .5rem;
}

h3 {
    padding: 1vw;
    padding-bottom: 0vw;
}

.pad {
    padding: .5rem;
}

.margin {
    margin: .5rem;
}

nav {
    width: 100vw;
}

footer {
    margin: .5rem;
}

.searchbar {
    padding: 1rem;
    padding-right: 40rem;
}

.search-button {
    color: white;
    
}

.home-content {
}

.home-row {
}

.card {
    float: left;
    min-width: 5rem;
    width: 20vw;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.card-scroll {
    height: 20rem;
    overflow-y: auto;
}

.card-img {
    border-radius: 1rem;
}

.home-articles {
    padding-left: 1vw;
}

.home-widgets {
    padding-right: 1vw;
}

.login {
    margin: 1rem;
}

.logout {
    margin: 1rem;
}
