<!DOCTYPE html>
<html>
    <head>
        <!-- <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8"> -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <title>Profile</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/stylesheet.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script>
            $(document).ready(function () {
                $("#test").CreateMultiCheckBox({ width: '230px', defaultText : 'Select Below', height:'250px' });
            });

            $(document).ready(function () {
                $(document).on("click", ".MultiCheckBox", function () {
                    var detail = $(this).next();
                    detail.show();
                });

                $(document).on("click", ".MultiCheckBoxDetailHeader input", function (e) {
                    e.stopPropagation();
                    var hc = $(this).prop("checked");
                    $(this).closest(".MultiCheckBoxDetail").find(".MultiCheckBoxDetailBody input").prop("checked", hc);
                    $(this).closest(".MultiCheckBoxDetail").next().UpdateSelect();
                });

                $(document).on("click", ".MultiCheckBoxDetailHeader", function (e) {
                    var inp = $(this).find("input");
                    var chk = inp.prop("checked");
                    inp.prop("checked", !chk);
                    $(this).closest(".MultiCheckBoxDetail").find(".MultiCheckBoxDetailBody input").prop("checked", !chk);
                    $(this).closest(".MultiCheckBoxDetail").next().UpdateSelect();
                });

                $(document).on("click", ".MultiCheckBoxDetail .cont input", function (e) {
                    e.stopPropagation();
                    $(this).closest(".MultiCheckBoxDetail").next().UpdateSelect();

                    var val = ($(".MultiCheckBoxDetailBody input:checked").length == $(".MultiCheckBoxDetailBody input").length)
                    $(".MultiCheckBoxDetailHeader input").prop("checked", val);
                });

                $(document).on("click", ".MultiCheckBoxDetail .cont", function (e) {
                    var inp = $(this).find("input");
                    var chk = inp.prop("checked");
                    inp.prop("checked", !chk);

                    var multiCheckBoxDetail = $(this).closest(".MultiCheckBoxDetail");
                    var multiCheckBoxDetailBody = $(this).closest(".MultiCheckBoxDetailBody");
                    multiCheckBoxDetail.next().UpdateSelect();

                    var val = ($(".MultiCheckBoxDetailBody input:checked").length == $(".MultiCheckBoxDetailBody input").length)
                    $(".MultiCheckBoxDetailHeader input").prop("checked", val);
                });

                $(document).mouseup(function (e) {
                    var container = $(".MultiCheckBoxDetail");
                    if (!container.is(e.target) && container.has(e.target).length === 0) {
                        container.hide();
                    }
                });
            });

            var defaultMultiCheckBoxOption = { width: '220px', defaultText: 'Select Below', height: '200px' };

            jQuery.fn.extend({
                CreateMultiCheckBox: function (options) {

                    var localOption = {};
                    localOption.width = (options != null && options.width != null && options.width != undefined) ? options.width : defaultMultiCheckBoxOption.width;
                    localOption.defaultText = (options != null && options.defaultText != null && options.defaultText != undefined) ? options.defaultText : defaultMultiCheckBoxOption.defaultText;
                    localOption.height = (options != null && options.height != null && options.height != undefined) ? options.height : defaultMultiCheckBoxOption.height;

                    this.hide();
                    this.attr("multiple", "multiple");
                    var divSel = $("<div class='MultiCheckBox'>" + localOption.defaultText + "<span class='k-icon k-i-arrow-60-down'><svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='sort-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' class='svg-inline--fa fa-sort-down fa-w-10 fa-2x'><path fill='currentColor' d='M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z' class=''></path></svg></span></div>").insertBefore(this);
                    divSel.css({ "width": localOption.width });

                    var detail = $("<div class='MultiCheckBoxDetail'><div class='MultiCheckBoxDetailHeader'><input type='checkbox' class='mulinput' value='-1982' /><div>Select All</div></div><div class='MultiCheckBoxDetailBody'></div></div>").insertAfter(divSel);
                    detail.css({ "width": parseInt(options.width) + 10, "max-height": localOption.height });
                    var multiCheckBoxDetailBody = detail.find(".MultiCheckBoxDetailBody");

                    this.find("option").each(function () {
                        var val = $(this).attr("value");

                        if (val == undefined)
                            val = '';

                        multiCheckBoxDetailBody.append("<div class='cont'><div><input type='checkbox' class='mulinput' value='" + val + "' /></div><div>" + $(this).text() + "</div></div>");
                    });

                    multiCheckBoxDetailBody.css("max-height", (parseInt($(".MultiCheckBoxDetail").css("max-height")) - 28) + "px");
                },
                UpdateSelect: function () {
                    var arr = [];

                    this.prev().find(".mulinput:checked").each(function () {
                        arr.push($(this).val());
                    });

                    this.val(arr);
                },
            });
        </script>
    </head>
    <body>
        <div class="page-container">
            <div class="content-wrap">
                <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                    <div class="container-fluid">
                        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/explore">Explore</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Topics</a>
                                    <form action="/topic">
                                        <div class="dropdown-menu">
                                            {% for genre in genres %}
                                            <input name="topic" value="{{genre}}" type="submit" class="dropdown-item" id="{{genre.lower()}}">
                                            {% endfor %}
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="mx-auto order-0" style="padding-left:1.5rem; padding-right:1.5rem;">
                            <a class="navbar-brand mx-auto" href="/home">Newsify</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/profile">Profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <form action="/profile" method="POST">
                    <label for="new_stock">Select the stocks you'd like to track:</label>
                    <select name="new_stock" id="new_stock">
                        {% for stock in stocks %}
                        <option value="{{stock[0].lower()}}">{{stock[0]}}: {{stock[1]}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" name="save_stocks_button" class="btn btn-primary">Save</button>
                </form>

                <!-- <h2>Input the ticker of a stock you'd like to track</h2>
                <form method -->

                <h2>Currently tracking the following stocks:</h2>
                {% for stock in users_stocks %}
                <button type="button" value="{stock}" name="{stock}">{stock}</button>
                {% endfor %}

                <h3>Username: {{username}}</h3>
                <a href="/logout"><button class="btn btn-danger logout">Logout</button></a>
            </div>

            <footer>
                <div class="footer-div d-flex flex-fill flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p>© 2022 Drippy Kangaroos, Inc.</p>
                </div>
            </footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    </body>
</html>